*{
  font-family: 'Jua', sans-serif;
}

.outline{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.mainlogo{
  width: 250px;
  height: 500px;
  display: flex;
  justify-content: center;
  
  flex-direction: column;
}

.logowrapper{
  width:250px;
  display: flex;
  justify-content: center;
}

.main {
  width: 250px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.logo {
  color: darkblue;
  margin-top: 0px;
  margin-bottom: 40px;
}

#login {
  width: 100%;
  background-color: darkblue;
  border-color: transparent;
  color: white;
}

.account {
  display: block;
  margin-bottom: 3px;
  padding: 3px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.signup{
  font-size: 13px;
}